body {
    background-image: url("./assets/lilybg.png");
    background-size: cover;
    font-family: "Delius Swash Caps", cursive;
    text-align: center;
    background-color: #bae0c5;
    background-repeat: repeat;
    background-size: 250px;
    color: #292928;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    width: 120px;
    margin-bottom: 5px;
    border-radius: 30px;
}

.counter {
    background-color: #c4d29d;
    max-width: 500px;
    margin: 60px auto;
    padding: 30px;
    border-radius: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


#increment-btn {
    background: #f0b0a6;
    color: #636363;
}

#save-btn {
    background: #636363;
    color: #f0b0a6;
}

#reset-btn {
    background: #96a275;
    color: #e2e7c7;
}


footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: .8rem;
    letter-spacing: 1px;
    padding: 14px 0;
    box-sizing: border-box;
    color: #636363;
}

.credit-tag a {
    color: #636363;
    font-family: Arial, Helvetica, sans-serif;
}

.credit-tag a:hover {
    opacity: 0.5;
}