@font-face {
    font-family: CursedTimer;
    src: url(./assets/CursedTimerUlil-Aznm.ttf);
}


body {
    margin: 0;
    font-family: 'CursedTimer', sans-serif;
    background-color: black;
    text-align: center;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #EEEEEE;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 14px;
}

button {
    font-size: 18px;
    color: #9AABD8;
    border: 2px solid #9AABD8;
    border-radius: 6px;
    width: 45px;
    aspect-ratio: 1;
    display: block;
    background-color: transparent;
    font-family: 'CursedTimer', sans-serif;
}

button:hover {
    color: #F94F6D;
    border: 2px solid #F94F6D;
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: space-around;
    background-color: #1B244A;
    width: 575px;
    height: 385px;
    margin: 50px auto;
    border-radius: 10px;
}

.score-container {
    background-color: #080001;
    width: 155px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

#score {
    color: #F94F6D;
    font-size: 90px;
}

.btn-container {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}