body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
    background-color: #202020;
}

.container {
    background-color: #016f32;
    width: 500px;
    margin: 80px auto;
    padding: 40px 0;
    border-radius: 20px;
}


h1 {
    color: goldenrod;
    font-size: 3rem;
    text-shadow: 0 0 10px goldenrod;
    margin: 0;
}

#message-el {
    font-style: italic;
}

button {
    color: #016f32;
    width: 150px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
}