/* github link */
.github-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 24px;
    height: 24px;
    color: #fff;
}

.github-button svg {
    fill: currentColor;
    width: 100%;
    height: 100%;
    transition: color 0.3s ease;
}

.github-button:hover {
    color: #0366d6;
}